.movie-container{
    font-size: 2rem;
    font-weight: 400;
    /* background-color: aquamarine; */
    padding: 20px;
    position: relative;
}

.movie-title {
    height: 5rem;
    margin-top: 1rem;
}

.movie-img img {
    cursor: default;
}


.gallery-container img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    border-radius: 5px;
}

.movie-like {
    padding: 10px 15px;
    margin-left: 3px;
    border-style: hidden;
    border-radius: 10px;
    background-color: #e4dad2;
    cursor: pointer;
    display: inline-block;
}
.movie-unblock {
    padding: 10px 15px;
    margin-right: 3px;
    border-style: hidden;
    border-radius: 10px;
    background-color: #e4dad2;
    cursor: pointer;
    display: inline-block;
}